<section class="event info">
    <header class="page-header">
        <img src="{{image.default}}" alt="{{name}}" title="{{name}}" />
        <h2>{{name}}</h2>
        <p>{{description}}
    </header>
    <div id="event-products"></div>
</section>
